.container {
  padding: 20px 10px;
  width: 90%;
  margin: 10px auto;
  max-width: 1400px;
}

.problemsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  width: 100%;
  gap: 25px 15px;
}

.problem {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;padding: 10px 0;
  p {
    margin: 0;
    word-break: break-word;
    white-space: normal;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.box {
  padding: 20px 10px;
  width: 90%;
  margin: 10px auto;
  gap: 10px;
  max-width: 1400px;
  display: flex;
}

.btnBox {
  @extend .box;
  flex-wrap: wrap;
  justify-content: space-between;
}

.noteBox {
  @extend .container;
  font-size: 20px;
  font-weight: bold;
}

.largeBox {
  @extend .box;
  & > * {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .problemsContainer {
    grid-template-columns: 1fr;
  }
  .container {
    width: 100%;
  }
  .box {
    width: 100%;
  }
}
